.idea
.vagrant

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components/*

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log

# puppet dependencies
/provisioning/vendor/*
!/provisioning/vendor/Puppetfile*
!/provisioning/vendor/modules/.gitkeep
