<form {{action 'addComment' on='submit'}}>
    <div class="form-group">
        <label for="new-comment-author">Author</label>

        {{input type="text"
                id="new-comment-author"
                placeholder="Your Name"
                value=newCommentAuthor
                action="addComment"}}
    </div>
    <div class="form-group">
        <label for="new-comment-author">Author</label>

        {{textarea id="new-comment-body"
                   placeholder="Your Comment"
                   value=newComment}}
    </div>
    {{input type="submit" value="Add Comment" action="addComment"}}
</form>
